<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache" displayDetailsOnTestsThatTriggerDeprecations="true" failOnDeprecation="true" failOnWarning="true" failOnNotice="true">
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="Solr search engine tests">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <source baseline="phpunit.baseline.xml" ignoreIndirectDeprecations="false" ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>./src/bundle</directory>
      <directory>./src/lib</directory>
      <directory>./src/contracts</directory>
    </include>
  </source>
</phpunit>
