parameters:
    ibexa.solr.default_connection: ~
    ibexa.solr.http_client.timeout: !php/const \EzSystems\EzPlatformSolrSearchEngineBundle\DependencyInjection\Configuration::SOLR_HTTP_CLIENT_DEFAULT_TIMEOUT
    ibexa.solr.http_client.max_retries: !php/const \EzSystems\EzPlatformSolrSearchEngineBundle\DependencyInjection\Configuration::SOLR_HTTP_CLIENT_DEFAULT_MAX_RETRIES

services:
    ibexa.solr.http_client.retryable:
        class: Symfony\Component\HttpClient\RetryableHttpClient
        decorates: ibexa.solr.http_client
        arguments:
            $client: '@.inner'
            $strategy: null
            $maxRetries: '%ibexa.solr.http_client.max_retries%'
            $logger: '@?logger'
        tags:
            - { name: monolog.logger, channel: ibexa.solr }

    ibexa.solr.http_client:
        class: Symfony\Contracts\HttpClient\HttpClientInterface
        factory: [ \Symfony\Component\HttpClient\HttpClient, 'create' ]
        calls:
            -   setLogger: [ '@logger' ]
        tags:
            - { name: monolog.logger, channel: ibexa.solr }

    Ibexa\Solr\Gateway\HttpClient\Stream:
        autoconfigure: true
        arguments:
            $client: '@ibexa.solr.http_client'
            $timeout: '%ibexa.solr.http_client.timeout%'

    Ibexa\Bundle\Solr\ApiLoader\SolrEngineFactory:
        arguments:
            $repositoryConfigurationProvider: '@Ibexa\Bundle\Core\ApiLoader\RepositoryConfigurationProvider'
            $defaultConnection: "%ibexa.solr.default_connection%"
            $searchEngineClass: Ibexa\Solr\Handler
            $gatewayRegistry: '@Ibexa\Solr\Gateway\GatewayRegistry'
            $coreFilterRegistry: '@Ibexa\Solr\CoreFilter\CoreFilterRegistry'
            $contentHandler: '@Ibexa\Contracts\Core\Persistence\Content\Handler'
            $documentMapper: '@ibexa.solr.document_mapper'
            $contentResultExtractor: '@ibexa.solr.result_extractor.content'
            $locationResultExtractor: '@ibexa.solr.result_extractor.location'

    Ibexa\Bundle\Solr\ApiLoader\BoostFactorProviderFactory:
        arguments:
            - '@Ibexa\Bundle\Core\ApiLoader\RepositoryConfigurationProvider'
            - "%ibexa.solr.default_connection%"
            - Ibexa\Solr\FieldMapper\BoostFactorProvider
        calls:
            - [setContainer, ["@service_container"]]

    Ibexa\Bundle\Solr\ApiLoader\IndexingDepthProviderFactory:
        arguments:
            - '@Ibexa\Bundle\Core\ApiLoader\RepositoryConfigurationProvider'
            - "%ibexa.solr.default_connection%"
            - Ibexa\Solr\FieldMapper\IndexingDepthProvider
        calls:
            - [setContainer, ["@service_container"]]

    Ibexa\Solr\FieldMapper\IndexingDepthProvider:
        class: Ibexa\Solr\FieldMapper\IndexingDepthProvider
        factory: ['@Ibexa\Bundle\Solr\ApiLoader\IndexingDepthProviderFactory', 'buildService']

    ibexa.solr.gateway.distribution_strategy.abstract_standalone:
        abstract: true
        class: Ibexa\Solr\Gateway\DistributionStrategy\StandaloneDistributionStrategy
        arguments:
            - '@Ibexa\Solr\Gateway\EndpointRegistry'

    Ibexa\Solr\Gateway\DistributionStrategy\CloudDistributionStrategy:
        abstract: true
        class: Ibexa\Solr\Gateway\DistributionStrategy\CloudDistributionStrategy
        arguments:
            - '@Ibexa\Solr\Gateway\EndpointRegistry'
